
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="header :: header" />
<link href="/css/styles.css" rel="stylesheet" />

<body>
	<div th:replace="header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<h2 class="section-headline">
						<i>MENU</i>
						
							<br />	<br />
					</h2>
				</h2>
			</div>

		</div>
		

		<div class="row" style="margin-top: 10px;">
			<div class="col-xs-20">
				<div class="row">
					<div class="col-xs-6 text-left">
						<a class="btn btn-success" th:href="@{/menu}">Add more food</a>
					</div>
					<div class="col-xs-6 text-right">
						<a class="btn btn-success"
							th:href="@{/checkout(id=${deliveryCart.id})}">Place the order</a>

					</div>
					<br />
					<div th:if="${notEnoughStock}" class="alert alert-warning">Please
						choose different qty</div>
<br/><br/>
					<div th:if="${emptyCart}" class="alert alert-warning">Please
						add something to the cart</div>
					
					<br/><br/>	<br />	<br />	<br />	<br />
					<div class="row">
						<div class="col-xs-8">
							<h4>Dish</h4>
						</div>
						<div class="col-xs-2">
							<h4>Price</h4>
						</div>
						<div class="col-xs-2">
							<h4>Qty</h4>
						</div>

					</div>
					<!-- Display the selected things from menu -->

					<div class="row" th:each="cartItem : ${cartItemList}">
						<form th:action="@{/deliveryCart/updateCartItem}" method="post">
							<hr />
							<div class="col-xs-6">
								<a th:href="@{foodDetail(id=${cartItem.food.id})}"> 
									<img class="img-responsive menu-food" th:src="#{adminPath}+@{/image/food/}+${food.id}+'.png'"/>
								</a>
							</div>
							
						

							<div class="col-xs-4">
								<h5 style="color: green; font-size: large;">
									&euro;<span th:text="${cartItem.food.price}"></span>
								</h5>
							</div>

							<div class="col-xs-2">
								<input hidden="hidden" name="id" th:value="${cartItem.id}" /> <input
									th:id="${cartItem.id}" th:name="qty"
									class="form-control cartItemQty" th:value="${cartItem.qty}" />

								<button style="display: none;"
									th:id="'update-item-'+${cartItem.id}" type="submit"
									class="btn btn-warning btn-xs">Update</button>
							</div>

						</form>
					</div>
					<div class="row">
						<hr />
						<h4 class="col-xs-12 text-right">
							<strong style="font-size: large;">Total Price (<span
								th:text="${#lists.size(cartItemList)}"></span>items):
							</strong><span style="color: green; font-size: large;">&euro;<span
								th:text="${deliveryCart.grandTotal}"></span></span>
						</h4>
					</div>

				</div>
			</div>
		</div>

	</div>
	<!-- end of container -->


	<div th:replace="header :: body-bottom-scripts" />
</body>
</html>
