
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="header :: header" />
<link href="/css/styles.css" rel="stylesheet" />

<body>
	<div th:replace="header :: navbar" />

	<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <i>MENU</i>
                </h2>
            </h2>
        </div>
       
    </div>
    <hr
            style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;"/>
   
    <form th:action="@{deliveryCart/addItem}" method="post">
    <input hidden="hidden" th:field="*{food.id}"/>
    <div class="row" style="margin-top: 120px;">
    <div class="col-xs-3">
    <a th:href="@{/menu}"><i>Back to menu</i></a><br/>
    	<img class="img-responsive menu-food" th:src="#{adminPath}+@{/image/food/}+${food.id}+'.png'"/>
    
    </div>
    <div class="col-xs-9">
    <b><h3 th:text="${food.foodName}"></h3></b>
    <div class="row">
    <div class="col-xs-5">
    <h5>Type: <strong><span th:text="${food.type}"></span></strong></h5>
     <h5>Category: <strong><span th:text="${food.category}"></span></strong></h5>
      <p>Amount of Calories:<strong> <span th:text="${food.numberOfCalories}"></span></strong></p>
       <p>Not Suitable with allergy type :<strong><span th:text="${food.allergyType}"></span> </strong></p>
      
    </div>
    
    <div class="col-xs-7">
    <div class="panel-panel-default" style="border-width: 5px; margin-top: 20px">
    <div class="panel-body">
    <div class="row">
    <div class="col-xs-6">
    <h4>Price: <span style="color:#db3208;">&euro;<span th:text="${food.price}"></span></span></h4>
    <span>QTY:</span>
    <select name="qty">
    <option th:each="qty : ${qtyList}" th:value="${qty}" th:text="${qty}">
    </option>
    </select>
    </div>
    <div class="col-xs-6">
   <!--   <h4 th:if="*{food.inStockNumber&gt;10}" style="color:green"> available</h4>
    <h4 th:if="*{food.inStockNumber&lt;10 and food.inStockNumber&gt;0}" style="color: green"> only <span th:text= "${food.inStockNumber}"> in stock </span></h4>
    <h4 th:if="*{food.inStockNumber==0}" style="color:darkred;"> unavailable </h4>
    -->
    <button type="submit" class="btn btn-success" style="color:black; border:1px solid black; padding:10px 40px 10px 40px;">Add to Basket</button>
    </div>
    </div>
    </div>
    </div>
    </div>    
    </div>
    <hr/>
    <p th:utext="${food.description}"></p>
    </div>
    </div>
    </form>
    
</div>
<!-- end of container -->


	<div th:replace="header :: body-bottom-scripts" />
</body>
</html>
