
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="header :: header" />

<body>
	<div th:replace="header :: navbar" />



	<div class="container">
		<div class="row">
			<div class="col-xs-8 ">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="carousel-example-generic" class="carousel slide"
							data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0"
									class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<img src="/image/pasta.jpeg "
										style="width: 100%; height: 340px;" alt="..." />
									<div class="carousel-caption">
										<h4>First</h4>
										<p>Metadata, generic types, autoboxing and auto-unboxing
											of primitive types, enhanced for loop, enumerated types,
											 XML Schema, SAX 2.0.2,
											DOM Level 3, and XSLT with a fast XLSTC compiler. Unicode 4.0
											support.</p>
									</div>
								</div>
								<div class="item">
									<img src="/image/sal.jpeg" style="width: 100%; height: 340px;"
										alt="..." />
									<div class="carousel-caption"></div>
								</div>
								<div class="item">
									<img src="/image/pica2.jpg" style="width: 100%; height: 340px;"
										alt="..." />
									<div class="carousel-caption">
										<h4>First</h4>
										<p>Metadata, generic types, autoboxing and auto-unboxing
											port for XML 1.1 with Namespaces, XML
											Schema, SAX 2.0.2, DOM Level 3, and XSLT with a fast XLSTC
											compiler. Unicode 4.0 support.</p>
									</div>
								</div>
								...
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<img src="/image/logo1.png" class="img-responsive center-block" />
			</div>
		</div>
		<hr />

		<div class="row">

			<div class="col-xs-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<h2 style="color: #444444;">Information about app</h2>
						<br />
						<p style="color: grey;">In the beginning there was continuous
							flow, and then Max Planck came along and proposed quantization.
							Quantization basically just means, that instead of bei
							squash/crush/split a smartie, I will hunt them down and make them
							pay!).</p>

						<h3 style="color: #444444;">Allergy or intolerance?</h3>
						<h4>
							<a href="#tab-1" data-toggle="tab"><span
								style="color: #f46b42;">Click here to filter the menu</span></a>
						</h4>


					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="map"></div>
						<!-- map -->
						<!-- 						 <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_1stWpWTW0gRgVJJCkQbKwM&key=AIzaSyCUw8VNccRGApe1aCfv0Jqlr_jhShlkkVk"></iframe>
 -->
					</div>
				</div>
			</div>

		</div>
		<div>
			<br />
			<hr style="margin-top: -15px;" />
		</div>

		<div class="row">
			<div id="signature-dishes" class="carousel slide"
				data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#signature-dishes" data-slide-to="0"
						class="active"></li>
					<li data-target="#signature-dishes" data-slide-to="1"></li>
					<li data-target="#signature-dishes" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="/image/wood.jpg" class="img-responsive"
							style="width: 100%; height: 110px;" />
						<div class="carousel-caption">
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
							</div>

						</div>

					</div>
					<div class="item">
						<img src="/image/wood.jpg" class="img-responsive"
							style="width: 100%; height: 110px;" />
						<div class="carousel-caption">
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
							</div>

						</div>
					</div>
					<div class="item">
						<img src="/image/wood.jpg" class="img-responsive"
							style="width: 100%; height: 110px;" />
						<div class="carousel-caption">
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
							</div>

						</div>


					</div>

				</div>
				
			</div>
		</div>
		
		<h1 class="section-headline">
					<span>BMI Calculator</span>
				</h1>

	<div class="yz-widget" data-calculator-type="bmi" data-language="en"
		data-unit-system="metric" data-background-color="white"
		data-text-color="#212121" data-primary-color="orange"
		data-alternate-background-color="white"
		data-alternate-text-color="#FFFFFF" data-secondary-color="#FFC107">
		<span class="yz-copyright">Powered by <a
			href="https://www.yazio.com/en/bmi-calculator">YAZIO</a></span>
	</div>
	<script src="https://widget.yazio.com/calculator.js" ></script>
		

	</div>
	<!--end of container  -->



	<div th:replace="header :: body-bottom-scripts" />
</body>
</html>
