
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="header :: header" />

<body>
	<div th:replace="header :: navbar" />



	<div class="container">
		<div class="row">
			<div class="col-xs-8 ">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="carousel-example-generic" class="carousel slide"
							data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0"
									class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>

							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<img src="/image/pasta.png "
										style="width: 100%; height: 340px;" alt="..." />
									<div class="carousel-caption"></div>
								</div>
								<div class="item">
									<img src="/image/f3.jpg" style="width: 100%; height: 340px;"
										alt="..." />
									<div class="carousel-caption"></div>
								</div>

								...
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<img src="/image/logo2.png" class="img-responsive center-block" />
			</div>
		</div>
		<hr />

		<div class="row">

			<div class="col-xs-8">
				<div class="panel panel-default" >
					<div class="panel-body">
					
					<h2 style="color: #444444;">TipTop</h2>
						<br />
						<p style="color: grey;"><b>TipTop </b>is a smart, simple and
							personalised app to order you favourite food without wasting time
							and looking through the menu for allergy warnings or amount of calories.<br/>
							<b>TipTop</b> puts you in control of searching and discovering safe
							foods for all the family.<br/>
							<b>Calorie</b> watch system helps to keep up with diet.<br/>
							<b>Recommended </b>menu based on your eating habits.
							</p>
						

					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-body">
					
					<h4 style="color: #444444;">Allergy filter for:</h4>
						
						<ul>
						<li><b><i>Eggs</i></b></li>
						<li><b><i>Milk</i></b></li>
						<li><b><i>Peanuts</i></b></li>
						<li><b><i>Fish</i></b></li>
						<li><b><i>Gluten</i></b></li>
						<li><b><i>Soy</i></b></li>
						
						</ul>
					
					
						
						<!-- <div id="map"></div>
						 map -->
						<!-- 						 <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_1stWpWTW0gRgVJJCkQbKwM&key=AIzaSyCUw8VNccRGApe1aCfv0Jqlr_jhShlkkVk"></iframe>
 -->
					</div>
				</div>
			</div>

		</div>
		<div>
			<br />
			<hr style="margin-top: -15px;" />
		</div>

		<div class="row">
			<div id="signature-dishes" class="carousel slide"
				data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#signature-dishes" data-slide-to="0"
						class="active"></li>
					<li data-target="#signature-dishes" data-slide-to="1"></li>
					<li data-target="#signature-dishes" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="/image/wood.jpg" class="img-responsive"
							style="width: 100%; height: 110px;" />
						<div class="carousel-caption">
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
							</div>

						</div>

					</div>
					<div class="item">
						<img src="/image/wood.jpg" class="img-responsive"
							style="width: 100%; height: 110px;" />
						<div class="carousel-caption">
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
							</div>

						</div>
					</div>
					<div class="item">
						<img src="/image/wood.jpg" class="img-responsive"
							style="width: 100%; height: 110px;" />
						<div class="carousel-caption">
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/pica.png" />
								</div>
							</div>

						</div>


					</div>

				</div>

			</div>
		</div>

		


	</div>
	<!--end of container  -->



	<div th:replace="header :: body-bottom-scripts" />
</body>
</html>
