
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="header :: header" />
<link href="/css/styles.css" rel="stylesheet" />

<body>
	<div th:replace="header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<h2 class="section-headline">
						<span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'MENU'"></span>
					</h2>
				</h2>
			</div>
			<div class="col-xs-4"></div>
		</div>
		<div class="row" style="margin-top: 60px;">
			<div class="col-xs-9 col-xs-offset-3">

				<div th:if="${emptyList}">
					<h5>not found</h5>
				</div>

				<table border="0" id="foodList">
					<thead>
						<tr>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="food-item" data-th-each="food : ${foodList}">
							<td th:if="${food != null}">
								<div class="row">
									<div class="col-xs-3">
										<img class="img-responsive menu-food"
											th:src="#{adminPath}+@{/image/food}+${food.id}+'.png'" />
									</div>

									<div class="col-xs-9">
										<h4 th:text="food.foodName"></h4>
										<span th:text="food.type"></span> 
										 <span
											th:text="${food.numberOfCalories}"><span>Calories</span></span>
										<span style="font-six =ze: x-large; color: #db3208;">Euro</span>
											
											<p th:text="food.description">
											</p>



									</div>

								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<!-- end of container -->


	<div th:replace="header :: body-bottom-scripts" />
</body>
</html>
